#canvas{
    display: block;
    min-width: 80vw;
    max-width: 90vw;
    min-height: 40vh;
    max-height: 50vh;
    margin-left: auto;
    margin-right: auto;
    border: solid black 1px;
}
#images{
    border: solid black 1vh;
    width: 100%;
}
#preview {
    display: grid;
    grid-template-columns: repeat(5, 20vw);
    grid-auto-rows: 1;
    column-gap: 0;
    width: 100vw;
    height: auto;
    align-items: start;
}
.preview-image{
    border: solid black 1vh;
    width: 100%;
}
.selected{
    border: solid blue 1vh;
}
.centered{
    text-align: center;
    align-content: center;
}